.app-container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: flex 0.3s ease;
}

.main-content {
    border-radius: 3px;
    overflow-y: auto;
    padding: 10px;
}
