.sidebar {
    flex: 0 0 15%;
    background-color: #ffffff;
    color: white;
    padding: 0px 5px 5px 10px;
    box-sizing: border-box;
    transition: flex 0.3s ease, padding 0.3s ease;
    overflow: hidden;
    overflow-y: auto;
    height: 100vh;
}

.sidebar.collapsed {
    flex: 0 0 0%;
    padding: 0;
}

.sidebar-link {
    text-decoration: none;
    padding: 6px 4px 10px 6px;
    border-radius: 3px;
}

.sidebar-link:hover {
    background: #e3e3e3;
}

.menu-group {
    margin-top: 5px;
    color: black;
}

.menu-title:hover {
    background: #e3e3e3;
}

.menu-title {
    padding: 6px 4px;
    border-radius: 3px;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.submenu {
    list-style: none;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
}

.submenu.open {
    height: auto; 
    opacity: 1;
}

.submenu li {
    width: 100%;
    font-size: 14px;
    border-radius: 3px;
}

.submenu li:hover {
    background: #e3e3e3;
}

.submenu li a {
    width: 100%;
    display: flex;
    padding: 4px 0px;
}

.submenu-toggle {
    transition: transform 0.3s ease;
}

.submenu-toggle.open {
    transform: rotate(180deg);
}
