.sidebar {
    width: 270px;
    min-width: 270px;
    max-width: 270px;
    color: white;
    padding: 0px 5px 5px 10px;
    box-sizing: border-box;
    transition: width 0.3s ease, padding 0.3s ease;
    overflow: hidden;
    overflow-y: auto;
    height: 100vh;
    z-index: 50;
}

.sidebar.collapsed {
    left: 0;
}

.sidebar-link {
    text-decoration: none;
    padding: 6px 4px 10px 4px;
    border-radius: 3px;
}

.menu-group {
    margin-top: 5px;
    color: black;
}

.menu-title {
    padding: 6px 4px;
    border-radius: 3px;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.submenu {
    list-style: none;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
}

.submenu.open {
    height: auto;
    opacity: 1;
}

.submenu li {
    width: 100%;
    font-size: 14px;
    border-radius: 3px;
}

.submenu li a {
    width: 100%;
    display: flex;
    padding: 4px 0px;
}

.submenu li a span {
    padding-left: 30px;
}

.submenu-toggle {
    transition: transform 0.3s ease;
}

.submenu-toggle.open {
    transform: rotate(180deg);
}

.sidebar .toggle-btn-mobile {
    display: none;
}

@media (max-width: 1024px) {
    .sidebar {
        position: absolute;
        left: -270px;
    }

    .sidebar .toggle-btn-mobile {
        display: block;
    }
}